.breaktime-player {
    margin-bottom: 4px;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #c9c7b8;
    position:relative;
}

.breaktime-player .breaktime-avatar {
    width: 58px;
    height: 50px;
    display: inline-block;
    border-left: 8px solid #C0C0C0;
}

.breaktime-player .breaktime-avatar.clickable {
    cursor: pointer;
}

.breaktime-player.back .breaktime-avatar {
    border-left: 8px solid #468847;
}

.breaktime-player.away .breaktime-avatar {
    border-left: 8px solid #bd362f;
}

.breaktime-player .breaktime-avatar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.breaktime-player:not(.back) .breaktime-avatar img {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.breaktime-details {
    display: inline-block;
    padding-top: 5px;
    vertical-align: top;
    width: calc(100% - 62px);
}

.breaktime-player .breaktime-state {
    color: #b94a48;
}

.breaktime-player.back .breaktime-state {
    color: #468847;
}

.breaktime-player.away .breaktime-state {
    color: #bd362f;
}

.breaktime-marker {
    position: absolute;
    font-size: 20px;
    top: 2px;
    right: 12px;
    color: #FFFFFF;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.breaktime-character {
    font-size: 10px;
    max-height: 25px;
    overflow: hidden;
}

.breaktime-button:hover > * {
    cursor: pointer;
    filter: drop-shadow( 0 0 5px red);
}

form .notes.break-start {
    flex: 0 0 20px;
}

.breaktime-container {
    padding-top: 4px;
    border-top: 1px solid #C0C0C0;
}

.breaktime-name {
    max-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#breaktime-app .set-time,
#breaktime-app .clear-remaining {
    width: 25px;
    max-height: 25px;
    height: 25px;
    line-height: 20px;
    padding: 2px 3px;
    float: right;
}

#breaktime-app .window-content footer {
    flex: 0 0 35px;
}
