
.breaktime-avatar
{
    width:50px;
    height:50px;
    display:inline-block;
}

.breaktime-details{
    display:inline-block;
    padding-top:5px;
    vertical-align:top;
}

.breaktime-state{
    color:#da4f49;
}

.breaktime-state.back {
    color: #5bb75b;
}
