.breaktime-player {
    margin-bottom: 4px;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #c9c7b8;
    position:relative;
}

.breaktime-player .breaktime-avatar {
    width: 58px;
    height: 50px;
    display: inline-block;
    border-left: 8px solid #b94a48;
}

.breaktime-player.back .breaktime-avatar {
    border-left: 8px solid #468847;
}

.breaktime-player .breaktime-avatar img{
    width:100%;
    height:100%;
}

.breaktime-details {
    display: inline-block;
    padding-top: 5px;
    vertical-align: top;
}

.breaktime-player .breaktime-state {
    color: #b94a48;
}

.breaktime-player.back .breaktime-state {
    color: #468847;
}

.breaktime-marker {
    position: absolute;
    top: 2px;
    left: 12px;
    color: #FFFFFF;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.breaktime-character{
    font-size:10px;
}

.breaktime-button:hover > * {
    cursor: pointer;
    filter: drop-shadow( 0 0 5px red);
}
