<form class="flexcol" editable="{{editable}}">
    <p class="notes break-start">
        <span style="line-height: 24px;">Break was started at {{timestart}}.</span>
        {{#if gm}}
        <button type="button" class="clear-remaining"><i class="fas fa-trash"></i></button>
        <button type="button" class="set-time"><i class="fas fa-clock"></i></button>
        {{/if}}
    </p>
    {{#if remaining}}
    <div class="form-group">
        <div class="form-fields">
            <input class="remaining-timer" style="text-align: center;" type="text" disabled />
        </div>
    </div>
    {{/if}}
    <div class="breaktime-container flexcol">
        {{#each players}}
        <div class="breaktime-player {{state}}" data-user-id="{{this.id}}">
            <div class="breaktime-avatar {{#if (or @root.gm (eq this.id @root.my.id))}}clickable{{/if}}">
                <img src="{{avatar}}" />
            </div>
            <div class="breaktime-details">
                <div class="breaktime-name">
                    {{name}}
                </div>
                <div class="breaktime-character">{{character}}</div>
            </div>
            <div class="breaktime-marker"><i class="fas {{#if (eq state "back")}}fa-check{{else if (eq state "away")}}fa-times{{/if}}"></i></div>
        </div>
        {{/each}}
    </div>
    <footer class="sheet-footer flexrow">
        <button id="away-btn" type="button" {{#if (eq my.state "away")}} disabled{{/if}}><i class="fas fa-mug-hot"></i> {{localize 'BREAKTIME.app.LeaveAgain'}}</button>
        <button id="back-btn" type="button" {{#if (eq my.state "back")}} disabled{{/if}}><i class="fas fa-mug-saucer"></i> {{localize 'BREAKTIME.app.ImBack'}}</button>
    </footer>
</form>
