<form class="flexcol" editable="{{editable}}">
    <p class="notes break-start">Break was started at {{timestart}}.</p>
    <div class="breaktime-container flexcol">
        {{#each players}}
        <div class="breaktime-player{{#if state}} back{{/if}}" data-user-id="{{this.id}}">
            <div class="breaktime-avatar">
                <img src="{{avatar}}" />
            </div>
            <div class="breaktime-details">
                <div class="breaktime-name">
                    {{name}}
                </div>
                <label class="breaktime-character">{{character}}</label>
            </div>
            <div class="breaktime-marker"><i class="fas {{#if state}}fa-check{{else}}{{/if}}"></i></div>
        </div>
        {{/each}}
    </div>
    <button id="breaktime-btn" type="button">{{#if my.state}}<i class="fas fa-door-open"></i> {{localize 'BREAKTIME.app.LeaveAgain'}}{{else}}<i class="fas fa-door-closed"></i> {{localize 'BREAKTIME.app.ImBack'}}{{/if}}</button>
</form>
